---
services:
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:latest
    container_name: audiobookshelf
    hostname: audiobookshelf
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
      - TZ=Europe/Stockholm
      - ACCESS_TOKEN_EXPIRY=604800
      - REFRESH_TOKEN_EXPIRY=2592000
    user: ${UID:-1000}:${GID:-1000}
    ports:
      - 13378:80/tcp
    volumes:
      - /opt/stacks/audiobookshelf/config:/config:rw
      - /opt/stacks/audiobookshelf/metadata:/metadata:rw
      - /mnt/hdd/audiobooks:/audiobooks:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      - proxy

networks:
  proxy:
    external: true