---
services:
  vaultwarden:
    image: ghcr.io/dani-garcia/vaultwarden:latest
    container_name: vaultwarden
    hostname: vaultwarden
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    env_file:
      - .env
    user: ${UID:-1000}:${GID:-1000}
    ports:
      - 8877:8877/tcp
    volumes:
      - $HOME/containers/storage/vaultwarden/data:/data:rw
      - /etc/localtime:/etc/localtime:ro
    networks:
      - proxy

networks:
  proxy:
    external: true