---
services:
  mosquitto:
    image: docker.io/library/eclipse-mosquitto:latest
    container_name: mosquitto
    hostname: mosquitto
    restart: unless-stopped
    network_mode: host
    security_opt:
      - no-new-privileges:true
    cap_add:
      - NET_BIND_SERVICE
    environment:
      - TZ=Europe/Stockholm
    user: ${UID:-1000}:${GID:-1000}
    ports:
      - 1883:1883/tcp
    volumes:
      - $HOME/containers/storage/mosquitto/config:/mosquitto/config:rw
      - $HOME/containers/storage/mosquitto/config/log:/mosquitto/log:rw
      - $HOME/containers/storage/mosquitto/data:/mosquitto/data:rw
      - /etc/localtime:/etc/localtime:ro

  zigbee2mqtt:
    image: ghcr.io/koenkk/zigbee2mqtt:latest
    container_name: zigbee2mqtt
    hostname: zigbee2mqtt
    restart: unless-stopped
    network_mode: host
    security_opt:
      - no-new-privileges:true
    environment:
      - TZ=Europe/Stockholm
      - Z2M_WATCHDOG=1
    user: ${UID:-1000}:${GID:-1000}
    group_add:
      - dialout
    ports:
      - 8888:8888/tcp
    volumes:
      - $HOME/containers/storage/zigbee2mqtt/config:/app/data:rw
      - /run/udev:/run/udev:ro
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - mosquitto
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0

  home-assistant:
    image: ghcr.io/home-assistant/home-assistant:latest
    container_name: home-assistant
    hostname: home-assistant
    restart: unless-stopped
    network_mode: host
    privileged: true
    environment:
      - TZ=Europe/Stockholm
    user: ${UID:-1000}:${GID:-1000}
    ports:
      - 8123:8123/tcp
    volumes:
      - $HOME/containers/storage/home-assistant/config:/config:rw
      - /run/dbus:/run/dbus:ro
      - /etc/localtime:/etc/localtime:ro