---
services:
  technitium:
    image: docker.io/technitium/dns-server:latest
    container_name: technitium
    hostname: technitium
    restart: unless-stopped
    sysctls:
      - net.ipv4.ip_local_port_range=1024 65000
    env_file:
      - .env
    ports:
      - 5380:5380/tcp
      - 53:53/tcp
      - 53:53/udp
      - 53443:53443/tcp
      # - 853:853/udp      # DNS-over-QUIC
      # - 853:853/tcp      # DNS-over-TLS
      # - 443:443/udp      # DNS-over-HTTPS (HTTP/3)
      # - 443:443/tcp      # DNS-over-HTTPS (HTTP/1.1, HTTP/2)
    volumes:
      - $HOME/containers/storage/technitium/config:/etc/dns:rw
      - /etc/localtime:/etc/localtime:ro
    networks:
      - proxy

networks:
  proxy:
    external: true