---
services:
  wud:
    image: ghcr.io/getwud/wud:latest
    container_name: wud
    hostname: wud
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
      - TZ=${TZ}
      - WUD_SERVER_PORT=${WUD_SERVER_PORT}
      - WUD_AUTH_BASIC_ADMIN_USER=${WUD_AUTH_BASIC_ADMIN_USER}
      - WUD_AUTH_BASIC_ADMIN_HASH=${WUD_AUTH_BASIC_ADMIN_HASH}
      - WUD_REGISTRY_HUB_PUBLIC_LOGIN=${WUD_REGISTRY_HUB_PUBLIC_LOGIN}
      - WUD_REGISTRY_HUB_PUBLIC_TOKEN=${WUD_REGISTRY_HUB_PUBLIC_TOKEN}
      - WUD_REGISTRY_GHCR_PRIVATE_USERNAME=${WUD_REGISTRY_GHCR_PRIVATE_USERNAME}
      - WUD_REGISTRY_GHCR_PRIVATE_TOKEN=${WUD_REGISTRY_GHCR_PRIVATE_TOKEN}
      - WUD_REGISTRY_LSCR_PRIVATE_USERNAME=${WUD_REGISTRY_LSCR_PRIVATE_USERNAME}
      - WUD_REGISTRY_LSCR_PRIVATE_TOKEN=${WUD_REGISTRY_LSCR_PRIVATE_TOKEN}
      - WUD_TRIGGER_GOTIFY_LOCAL_URL=${WUD_TRIGGER_GOTIFY_LOCAL_URL}
      - WUD_TRIGGER_GOTIFY_LOCAL_TOKEN=${WUD_TRIGGER_GOTIFY_LOCAL_TOKEN}
      - WUD_TRIGGER_DOCKER_LOCAL_MODE=${WUD_TRIGGER_DOCKER_LOCAL_MODE}
      - WUD_TRIGGER_DOCKER_LOCAL_PRUNE=${WUD_TRIGGER_DOCKER_LOCAL_PRUNE}
      - WUD_TRIGGER_DOCKER_LOCAL_THRESHOLD=${WUD_TRIGGER_DOCKER_LOCAL_THRESHOLD}
      - WUD_TRIGGER_DOCKER_LOCAL_ONCE=${WUD_TRIGGER_DOCKER_LOCAL_ONCE}
      - WUD_WATCHER_DOCKER_CRON=${WUD_WATCHER_DOCKER_CRON}
      - WUD_WATCHER_DOCKER_JITTER=${WUD_WATCHER_DOCKER_JITTER}
      - WUD_WATCHER_DOCKER_WATCHATSTART=${WUD_WATCHER_DOCKER_WATCHATSTART}
      - WUD_WATCHER_DOCKER_WATCHBYDEFAULT=${WUD_WATCHER_DOCKER_WATCHBYDEFAULT}
      - WUD_WATCHER_DOCKER_WATCHEVENTS=${WUD_WATCHER_DOCKER_WATCHEVENTS}
    ports:
      - 3322:3322/tcp
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    networks:
      - proxy

networks:
  proxy:
    external: true