---
services:
  jellyseerr:
    image: ghcr.io/fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    hostname: jellyseerr
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
      - TZ=Europe/Stockholm
      - PORT=5055
    user: ${UID:-1000}:${GID:-1000}
    ports:
      - 5055:5055/tcp
    volumes:
      - $HOME/containers/storage/jellyseerr/config:/app/config:rw
      - /etc/localtime:/etc/localtime:ro
    networks:
      - proxy

networks:
  proxy:
    external: true